body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 2.4px;
    text-align: center;
    width: 100%;
    margin: 0;
    color: #373737;
}
ul {
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
    padding: 25px 0;
}
li{
    text-transform: uppercase;
}
img{
    width: 100%;
}
p{
    margin: 0;
}
footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    padding-right: 105px;
}
.header_menu{
    display: flex;
    justify-content: space-between;
}
.menu_link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #ff0000;
}
.menu_link:hover{
    text-decoration: underline;
}
.container{
    margin: 0 68px 62px 68px;
}
.section_title{
    margin: 49px 0 0 0;
    padding-bottom: 38px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
}
.section_text-2{
    padding: 28px 0 66px;
    margin-bottom: 15px;
}
.section_button{
    padding: 18px 43px;
    text-decoration: none;
    color: white;
    background-color: #ff0000;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
}
.footer_text{
    margin: 97px 0 29px;

}
