@import "../variables";

//.posts {
//  padding: 26px;
//  @media (min-width: 768px) {
//    padding: 0 65px;
//  }
//}

.posts {
  padding: 26px;
  @media (min-width: 768px) {
    padding: 0 65px;
  }
  @media (min-width: 1200px) {
    padding: 0 100px 70px;

  }

  &__container {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__title {
    margin-bottom: 23px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: $primary-color;
  }

  &__post {
    display: block;
    @media (min-width: 768px) {
      display: flex;
      margin-bottom: 32px;
    }
  }
}

.posts-post {
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: $primary-color;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    color: $text-color;
  }

  &__content {
    @media (min-width: 768px) {
      padding-left: 20px;
    }
  }

  &__text-content {
    display: none;
    @media (min-width: 768px) {
      text-decoration: none;
      font-family: Roboto, sans-serif;
      color: #5C5C5C;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      display: block;
    }
  }

}

.last-post {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}