.cart {
  &-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    border: 3px solid red;
    border-radius: 10px;
    padding: 5px;
  }

  &-left {
    display: flex;
  }
}

.cart__footer {
  margin: 30px;

  &-bottom {
    margin-top: 145px;
    display: flex;
  }

  &-button {
    margin-left: 30px;
  }

  &-quantity {
    display: flex;
    justify-content: flex-end;
  }

}