.card{
  &-image{
    width: 410px;
    height: 250px;
  }
  &-favorite{
    background-color: crimson;
    border: none;
    border-radius: 12px;
    width: 33px;
    height: 35px;
  }
  &-content{
    background-color: rgb(144,238,144);
  }
}
.card-content{
  &__header{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    align-items: baseline;
  }
  &__footer{
    display: flex;
    justify-content: space-around;
    padding: 12px;
  }
}