@import "../../variables";


.footer{
  display: block;
  text-align: center;
  background-color: black;
}

.footer {
  &__title {
    text-transform: uppercase;
    padding: 38px 0 8px 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FEFEFE;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__text {
    padding: 0px 15%;
    margin-bottom: 28px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    @media (min-width: 768px) {
      display: none;
    }
  }
&__text-span{
  display: none;
  @media (min-width: 768px){
    margin-bottom: 37px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #B9B9B9;
    font-size: 16px;
    line-height: 28px;
    display: block;
  }
}
  &__container{
    max-width: 680px;
    margin: 0 auto;
  }
  &__links {
    margin-bottom: 28px;
  }
  &__links a {
    display: inline-block;
    padding: 0 6px 0;
  }

  &__contacts {
    display: grid;
    padding-bottom: 47px;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-evenly;
    }

  }

  &__contacts a {
    padding-top: 10px;
    color: #B9B9B9;
  }
}