@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?i598km');
  src:  url('../fonts/icomoon.eot?i598km#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i598km') format('truetype'),
    url('../fonts/icomoon.woff?i598km') format('woff'),
    url('../fonts/icomoon.svg?i598km#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: "\f105";
}
