body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    line-height: 18px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}
a {
    text-decoration: none;
    color: #ffffff;
    line-height: 18px;
    font-size: 18px;
}

.container {
    max-width: 1023px;
    margin: 0 auto;
}

.header {
    margin-top: 51px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.header-logo {
    display: flex;
}

.header-logo-name-link {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: 8px;
    text-transform: uppercase;
}

.header-logo-link-text-milan {
    font-size: 29px;
    line-height: 29px;
}
.header-contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.header-logo:hover a{
    color: #F26522;
}
.header-logo-link-img{
    position: relative;
}
.header-logo-img-hover{
    position: absolute;
    left: 0;
    opacity: 0;
}
.header__email {
    margin-bottom: 19px;
}

.header-logo:hover .header-logo-img-hover{
    opacity: 1;
}

.header__phone:hover,
.header__email:hover {
    color: #F26522;
}
.section-container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 37px 63px;
}
.section-items{
    display: block;
    text-align: center;
    max-width: 302px;
}
.section-items:hover .section-items-text{
    color:#F26522;
}
.section-items:hover .section-items-hover{
    transition: 1.2s;
    opacity: 1;
}
.section-items-item{
    position: relative;
}
.section-items-img{
    width: 100%;
}
.section-items-img-link{
    display: flex;
}
.section-items-hover{
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 55px;
    opacity: 0;
}
.section-items-hover-shopping,
.section-items-hover-bars,
.section-items-hover-art{
    left: 2px;
    width: 295px;
}
.section-items-hover-food{
    left: 2px;
    width: 296px;
}
.section-items-hover-sightseeing{
    left: 4px;
    max-width: 290px;
}
.section-items-hover-price {
    margin-left: 16px;
}

.section-items-hover-price-main {
    margin: 7px 0 8px 0;
    font-size: 10px;
    line-height: 10px;
}

.section-items-hover-price-main-bottom {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 20px;
}

.section-items-hover-view-text {
    position: relative;
    margin: 29px 0 12px 0;
    font-size: 14px;
    line-height: 14px;
    padding-right: 37px;
}

.section-items-hover-view-text::after {
    font-family: 'icomoon';
    content: "\f105";
    position: absolute;
    right: 14px;
}
.section-items-hover-view-text:hover{
    color: blue;
}
.section-items-text{
    display: flex;
    flex-direction: column;
    margin-top: 20px ;
}
.footer-container{
    margin-bottom: 15px;
    text-align: center;
}
.footer-text{
    font-size: 12px;
    line-height: 12px;
}