body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    background-color: #F2F2F2;
}

.header_top {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    height: 70px;
    align-items: center;
}

.header_top-logo,
.header_top-logo-link{
    display: flex;
    align-items: center;
}

.header_top-logo-img {
    height: 27px;
    width: 27px;
    padding: 22px 27px;
}

.header_top-logo-name {
    color: white;
    font-size: 22px;
    line-height: 30px;
    padding: 22px 0;
}

.header_top-menu-lists {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.header_top-menu-list-link {
    margin-left: 35px;
    color: white;
}
.header_top-menu-list-link:hover{
    color: #14B9D5;
}
.header_top-search-link{
    padding: 26px 26px 25px 26px;
    background-color: #000000;
}
.header_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/header-bg.jpeg);
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: fixed;
}
.header_bottom-title {
    color: #ffffff;
    font-size: 27px;
    line-height: 37px;
    margin-top: 164px;
    margin-bottom: 44px;
}
.header_bottom-button{
    display: flex;
    max-width: 360px;
    margin-bottom: 74px;
}
.header_bottom-button-link-left,
.header_bottom-button-link-right{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    border-radius: 3px;
}
.header_bottom-button-link-left{
    padding: 16px 19px 17px 19px;
    background-color: #89CA62;
}
.header_bottom-button-link-right {
    padding: 16px 29px 17px 30px;
    background-color:#14B9D5;
    margin-left: 20px;
}
.header_bottom-button-text-left:hover{
    color: red;
}
.header_bottom-button-text-right:hover{
    color: red;
}
.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    padding-bottom: 74px;
}
.posts-title{
    font-size: 27px;
    line-height: 37px;
    color:#18B4CF;
    margin: 49px 0 52px 0;
    text-transform: uppercase;
}
.posts-content{
    display: flex;
    justify-content: space-between;
}
.posts-content_inner-left-link-text,
.posts-content_inner-middle-link-text,
.posts-content_inner-right-link-text{
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 20px 30px;
    text-align: center;
    background-color: #fff;
}
.posts-content_inner-middle,
.posts-content_inner-right{
    margin-left: 30px;
}
.posts-content_inner-left-link-block,
.posts-content_inner-middle-link-block,
.posts-content_inner-right-link-block{
    margin-top: 28px;
}
.clients{
    background-image: url(../img/our-most-popular-clients/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    text-align: center;
    justify-items: center;
}
.clients_title{
    position: relative;
    margin-top: 106px;
    color: #ffffff;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    margin-bottom: 196px;
}
.clients_title::after{
    position: absolute;
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    margin: auto;
    top: 215px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #18B4CF;
}
.clients_logo{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    max-width: 890px;
    margin-bottom: 191px;
}
.rated{
    display: grid;
    text-align: center;
}
.rated_title{
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    margin: 49px 0 42px 0;
}
.rated-illustration{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr) ;
    align-items: center;
    justify-items: center;
}
.rated-illustration-img{
    width: 100%;
}
.news{
    display: grid;
    text-align: center;
    justify-items: center;
}
.news_title{
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    margin: 48px 0 51px 0;
}
.news_content{
    display: grid;
    text-align: center;
    background-color: #fff;
}
.news_content-bg{
    background-color: #F9F7F7;
    box-shadow: rgba(0, 0, 0, 0.5);
}
.news_content-title{
    padding: 14px 20px 15px 0;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.news_content-text{
    padding: 0 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.news_content-image{
    width: 100%;
}
.news_content-main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr ;
    justify-items: end;
    margin-bottom: 42px;
}
.news_content-main-left{
    display: grid;
    grid-template-rows: 266px;
    grid-template-columns: 483px 374px;
}
.news_content-main-left-title{
    text-align: right;
    padding: 41px 24px 4px 31px;
}
.news_content-main-left-text{
    text-align: right;
    padding-right: 24px;
    padding-bottom: 40px;
}
.news_content-main-right{
}
.news_content-middle{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 44px 60px ;
    justify-items: center;
    text-align: right;
    margin-bottom: 44px;
}
.news_content-bottom{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr ;
    justify-items: flex-start;
    margin-bottom: 77px;
}
.news_content-bottom-right{
    display: grid;
    grid-template-rows: 266px;
    grid-template-columns: 483px 374px;
}
.news_content-bottom-right-title{
    text-align: right;
    padding: 41px 24px 14px 31px;
}
.news_content-bottom-right-text{
    text-align: right;
    padding-right: 24px;
    padding-bottom: 40px;
}
.news_content-bottom-left{
    align-items: start;
}
.footer{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 80px;
    background-color: #000000;
}
.footer_content{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 512px 658px;
    background-color: #000000;
    align-items: center;
    justify-items: end;
}
.footer_text{
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
}
.footer_logo{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-items: end;
}