* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header_logo {
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.header_span-logo {
    color: #00bfff;
}

.logo {
    margin: 61px 0 38px;
}

.header_menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color: #35444F;
}
.header_list-link{
    display: inline-block;
    text-decoration: none;
    border-left: 1px solid #ffffff;
    font-size: 24px;
    line-height: 28px;
    padding: 26px 33px 19px 32px;
    color: #ffffff;
}
.header_list-link:hover{
    background-color: #222F3A;
}

.section_inner {
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
}

.section_menu {

    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.section_aside-nav{
    width: 344px;
}
.section_menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section_list-link {
    color: #495863;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    padding: 26px 0 26px 40px;
    font-size: 27px;
    line-height: 27px;
}
.section_list-link:hover{
    color: #000000;
    background-color: #DBDBDB;
}
.section_content {
    margin-left: 52px;
}

.section_content-image {
    height: 529px;
    display: flex;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
}
.image_goat {
    transition: 2s;
    margin: 0;
}
.image_goat:hover{
    transform: scale(1.2);
}
.section_content-text{
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}
.footer_menu-list{
    padding: 0;
    font-size: 28px;
    line-height: 28px;
    display: flex;
}
.footer_list{
    list-style: none;
}
.footer_list-link{
    display: inline-block;
    text-decoration: none;
    padding-left: 30px ;
    color: #000000;
}
.footer_list-link:hover{
    text-decoration: underline;
    color: #00bfff;
}
.footer_end{
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
    color: #010101;
}