.header {
  display: flex;
  justify-content: space-between;
  background-color: greenyellow;
  &-left {
    text-decoration: none;
    padding: 10px;
    margin-left: 45px;
  }

  &-left a {
    color: #2B0D09;
    text-decoration: none;
  }

  &-right {
    display: flex;
    align-items: center;
    margin-right: 45px;
  }

  &-right__favorites {
    text-decoration: none;
    padding: 10px 5px;
  }

  &-right__cart {
    text-decoration: none;
    padding: 10px 5px;
  }
  &-right__favorites a{
    color: #2B0D09;
    text-decoration: none;
  }

  &-right__cart a{
    color: #2B0D09;
    text-decoration: none;
  }
}