@import "../../variables";

.header {
  &__burger-menu {
    display: flex;
    justify-content: right;
    margin-bottom: 23px;
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
    @media (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &__burger-menu-button {
    position: relative;
    width: 44px;
    height: 37px;
    background-color: black;
    cursor: pointer;
  }

  &__burger-menu-button span,
  .header__burger-menu-button span:before,
  .header__burger-menu-button span:after {
    width: 17px;
    position: absolute;
    height: 2px;
    display: block;
    transition: .3s;
    background-color: #fff;
  }
  &__burger-menu-button span:before {
    content: "";
    top: -4px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__burger-menu-button span {
    right: 14px;
    top: 17px;
  }

  &__burger-menu-button span:after {
    content: "";
    bottom: -4px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &__burger-menu-button span.active:before{
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__burger-menu-button span.active:after{
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__burger-menu-button span.active{
    background: rgba(255, 255, 255, 0);
  }
  &__burger-menu-nav {
    display: none;
    position: absolute;
    width: 208px;
    top: 61px;
    right: 25px;
    @media (min-width: 768px) {
      position: static;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  &__burger-menu-nav.active{
    display: block;
    @media (min-width: 768px) {
      position: static;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  &__burger-menu-lists {
    list-style: none;
    background: #F5F5F5;
    @media (min-width: 768px) {
      display: flex;
      padding-right: 30px;
      list-style: none;
      background: none;
    }
    @media (min-width: 1200px) {
      padding-right: 68px;
    }
  }
  &__burger-menu-list {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    color: #4E4E4E;
    padding: 4px 0 4px 12px;
    @media (min-width: 768px) {
      padding-left: 30px;
    }
    @media (min-width: 1200px) {
      padding-left: 68px;

    }
  }
  &__burger-menu-list:hover{
    background-color: #E5E5E5;
    @media (min-width: 768px) {
      background:none;
    }
  }
  &__burger-menu-list .active_link {
    color: #57A4A4;
  }
  &__burger-menu-list a {
    display: inline-block;
    color: $primary-color;
    @media (min-width: 768px) {
      color: $primary-color;

    }
  }

  &__burger-menu-button {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
