@import "burger-menu";


.header{
  padding: 23px 26px 12px;
  @media (min-width: 768px) {
    padding: 41px 65px 50px;
  }
  @media (min-width: 1200px) {
    padding: 41px 65px 66px;
  }
}
.header__bg-image{
  width: 100%;
  height: 100%;
}
