html {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    background-image: url(../img/bg-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 100%;
    padding: 18px;
    background: rgba(0, 0, 0, 0.4);

}

.header-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1210px;
}

.header-logo-link {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}

.header-login {
    display: flex;
    align-items: center;
    text-align: center;
}

.header-login-icon-link {
    margin-right: 25px;
}

.header-login-sing-up {
    position: relative;
    padding-left: 27px;
}

.header-login-sing-up::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    left: 0;
    top: -2px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.container:hover {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.41;
}

.header-links:hover {
    color: #3CB878;
}

.section {
    width: 100%;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-section {
    max-width: 444px;
    height: 599px;
    background-color: #ffffff;
}

.form-section-container {
    padding: 31px 60px;
}

.form-section-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.form-section-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    position: relative;
}

.form-section-title::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    left: -60px;
}

.form-section-log-in {
    color: #3CB878;

}

.form-section-log-in:hover {
    color: #01813F;
    text-decoration: underline;
}

.form-section-accounts {
    display: flex;
}

.form-section-button {
    border-radius: 4px;
    border: none;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.form-section-button-facebook {
    margin-right: 4px;
    background-color: #305DB8;
}

.form-section-button-facebook:hover {
    background: #022263;
}

.form-section-button-google {
    background-color: #DF4A32;
}

.form-section-button-google:hover {
    background: #AB1F09;
}

.form-section-button-icon-f {
    padding: 12px 19px 12px 17px;
}

.form-section-button-facebook-text {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    padding: 17px 22px 17px 18px;
}

.form-section-button-facebook-text::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    left: 0;
    top: 11px;
}

.form-section-button-icon-g {
    padding: 15px 7px 14px 15px;
}

.form-section-button-google-text {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    padding: 17px 27px 17px 30px;
}

.form-section-button-google-text::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    left: 0;
    top: 11px;
}

.form-section-text {
    position: relative;
    color: #848484;
    margin-top: 31px;
    text-align: center;
}

.form-section-text::after,
.form-section-text::before {
    content: "";
    position: absolute;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.form-section-text::after {
    right: 0;
    top: 8px;
}

.form-section-text::before {
    left: 0;
    top: 8px;
}

.form-section-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #bebebe;
}

.form-section-input {
    outline: none;
    padding: 15px 20px;
    margin-top: 15px;
    color: #434343;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

.form-section-input::placeholder {
    color: #bebebe;
}

.form-section-input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.input-bottom {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 20px;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.form-section-input-checkbox {
    position: absolute;
    margin: 0;
    width: 22px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
}

.form-section-input-checkbox:checked + .custom-checkbox {
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.form-section-bottom-text {
    color: #434343;
    margin-left: 11px;
}

.form-section-bottom-link {
    color: #3CB878;
}

.form-section-bottom-link:hover {
    color: #01813F;
    text-decoration: underline;
}
.form-section-bottom-button{
    color: #ffffff;
    border: none;
    padding: 16px 99px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width: 324px;
    cursor: pointer;
}
.form-section-bottom-button:hover{
    background: #01813F;
}